{% extends 'base.html.twig' %}

{% block title %}Jeux{% endblock %}

{% block body %}
<div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
    <h1>Jeux</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ jeux.nom }}</td>
            </tr>
            <tr>
                <th>Année</th>
                <td>{{ jeux.annee }}</td>
            </tr>
            <tr>
                <th>Nombre de joueur</th>
                <td>{{ jeux.nbreJoueurMin }} - {{ jeux.nbreJoueurMax }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ jeux.age }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ jeux.descriptif }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ jeux.dureeMin }} - {{ jeux.dureeMax }}</td>
            </tr>
            <tr>
                <th>Nationalite</th>
                <td>{{ jeux.nationalite }}</td>
            </tr>
            <tr>
                <th>Lien vidéo</th>
                <td>{{ jeux.video }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('jeux_index') }}">back to list</a>

    <a href="{{ path('jeux_edit', {'id': jeux.id}) }}">edit</a>

    {{ include('jeux/_delete_form.html.twig') }}
</div>
{% endblock %}
